<div class="container-fluid"></div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title h3">
                        <i class="ti-files me-2"></i>
                        {{#if property}}
                            Μισθώσεις Ακινήτου: {{property.address}}
                        {{else if party}}
                            Μισθώσεις Συμβαλλομένου: {{party.name}}
                        {{else}}
                            Μισθώσεις Ακινήτων
                        {{/if}}
                    </h1>
                    <div class="card-actions">
                        {{#if (can 'edit:content')}}
                        <a href="/properties/leases/new" class="btn btn-primary">
                            <i class="ti-plus me-1"></i>
                            Νέα Μίσθωση
                        </a>
                        {{/if}}
                    </div>
                </div>
                <div class="card-body">
                    {{#if property}}
                    <!-- Breadcrumb για property-specific leases -->
                    <nav aria-label="breadcrumb" class="mb-3">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/properties/properties">Ακίνητα</a></li>
                            <li class="breadcrumb-item"><a href="/properties/properties/{{property.id}}">{{property.address}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Μισθώσεις</li>
                        </ol>
                    </nav>
                    {{else if party}}
                    <!-- Breadcrumb για party-specific leases -->
                    <nav aria-label="breadcrumb" class="mb-3">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/properties/parties">Συμβαλλόμενοι</a></li>
                            <li class="breadcrumb-item"><a href="/properties/parties/{{party.id}}">{{party.name}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Μισθώσεις</li>
                        </ol>
                    </nav>
                    {{/if}}
                    
                    <div class="table-responsive">
                        <table class="dim-table table table-striped table-hover align-middle">
                            <thead class="table-dark">
                                <tr>
                                    <th class="sortable d-none" data-sort-type="number">ID</th>
                                    {{#unless property}}
                                    <th class="sortable" style="width: 40ch">Ακίνητο</th>
                                    {{/unless}}
                                    {{#unless party}}
                                    <th >Συμβαλλόμενος</th>
                                    {{/unless}}
                                    <th class="sortable">Κατεύθυνση</th>
                                    <th class="sortable" data-sort-type="date-gr">Λήξη</th>
                                    <th class="sortable" data-sort-type="number">Μίσθωμα</th>
                                    <th class="sortable" data-sort-type="number">Αναπροσαρμογή</th>
                                    <th class="sortable">Κατάσταση</th>
                                    <th>Λεπτομέρειες</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each leases}}
                                <tr>
                                    <td class="d-none">{{this.id}}</td>
                                    {{#unless ../property}}
                                    <td>
                                        {{#if this.property}}
                                            <a href="/properties/properties/{{this.property.id}}" class="text-primary text-decoration-none">
                                                {{this.property.address}}{{#if this.property.appartment_number}}, {{this.property.appartment_number}}{{/if}}
                                            </a>
                                        {{else}}
                                            <span class="text-muted">-</span>
                                        {{/if}}
                                    </td>
                                    {{/unless}}
                                    {{#unless ../party}}
                                    <td>
                                        {{#if this.party}}
                                            <a href="/properties/parties/{{this.party.id}}" class="text-primary text-decoration-none">{{this.party.name}}</a>
                                        {{else}}
                                            <span class="text-muted">-</span>
                                        {{/if}}
                                    </td>
                                    {{/unless}}
                                    <td>
                                        {{#if (eq this.lease_direction 'incoming')}}
                                            <span class="badge bg-pink fs-6">{{leaseDirectionShortText 'incoming'}}</span>
                                        {{else if (eq this.lease_direction 'outgoing')}}
                                            <span class="badge bg-purple fs-6">{{leaseDirectionShortText 'outgoing'}}</span>
                                        {{else if (eq this.lease_direction 'grant')}}
                                            <span class="badge bg-info fs-6">{{leaseDirectionShortText 'grant'}}</span>
                                        {{/if}}
                                    </td>
                                    <td>{{date this.lease_end}}</td>
                                    <td>
                                        {{euro this.rent}}
                                    </td>
                                    <td class="adjustment-month" data-sort-value="{{this.rent_adjustment_month}}">
                                        <span>{{greekMonthText this.rent_adjustment_month}}</span>
                                    </td>
                                    <td>
                                        {{#if this.active}}
                                            <span class="badge bg-success fs-6 status-badge" data-lease-end="{{this.lease_end}}">Ενεργή</span>
                                        {{else}}
                                            <span class="badge bg-secondary fs-6">Ανενεργή</span>
                                        {{/if}}
                                    </td>
                                    <td>
                                        <a href="/properties/leases/{{this.id}}" class="btn btn-outline-primary" title="Προβολή/Επεξεργασία">
                                            <i class="ti-eye text-primary" ></i>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="module">
// Έλεγχος λήξης μισθώσεων ακινήτων
checkLeaseExpiry();

// Έλεγχος μήνα αναπροσαρμογής μισθώματος
checkRentAdjustmentMonth();
</script>
