<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title h3">
                        <i class="ti-briefcase me-2"></i>
                        Συμβαλλόμενοι
                    </h1>
                    <div class="card-actions">
                        {{#if (can 'edit:content')}}
                        <a href="/properties/parties/new" class="btn btn-primary">
                            <i class="ti-plus me-1"></i>
                            Νέος Συμβαλλόμενος
                        </a>
                        {{/if}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="dim-table table table-striped table-hover align-middle">
                            <thead class="table-dark">
                                <tr>
                                    <th class="sortable" data-sort-type="number">ID</th>
                                    <th class="sortable">Όνομα/Επωνυμία</th>
                                    <th>ΑΦΜ</th>
                                    <th>Email</th>
                                    <th>Επικοινωνία</th>
                                    {{!-- <th>Ημερομηνία Δημιουργίας</th> --}}
                                    <th>Λεπτομέρειες</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each parties}}
                                <tr>
                                    <td>{{this.id}}</td>
                                    <td>
                                        <a href="/properties/parties/{{this.id}}" class="text-primary text-decoration-none">{{this.name}}</a>
                                    </td>
                                    <td>{{this.afm}}</td>
                                    <td>{{this.email}}</td>
                                    <td>{{this.contact}}</td>
                                    {{!-- <td>{{date this.createdAt}}</td> --}}
                                    <td>
                                        <a href="/properties/parties/{{this.id}}" class="btn btn-outline-primary" title="Προβολή/Επεξεργασία">
                                            <i class="ti-eye text-primary" ></i>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>