<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title h3">
                        <i class="bi bi-shop me-2"></i>
                        Σχολικά Κυλικεία
                    </h1>
                    <div class="card-actions">
                        {{#if (can 'edit:content')}}
                        <a href="/canteens/canteens/new" class="btn btn-primary">
                            <i class="ti-plus me-1"></i>
                            Νέο Κυλικείο
                        </a>
                        {{/if}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="dim-table table table-striped table-hover align-middle">
                            <thead class="table-dark">
                                <tr>
                                    {{!-- <th class="sortable" data-sort-type="number">ID</th> --}}
                                    <th class="sortable wide-cell">Όνομα Κυλικείου</th>
                                    <th>Διευθυντής</th>
                                    <th>Μισθωτής</th>
                                    <th class="sortable" data-sort-type="date-gr">Λήξη Μίσθωσης</th>
                                    <th class="sortable">Κατάσταση</th>
                                    <th class="narrow-cell-m">Λεπτομέρειες</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each canteens}}
                                <tr>
                                    {{!-- <td>{{this.id}}</td> --}}
                                    <td class="fw-semibold">
                                        <a href="/canteens/canteens/{{this.id}}" class="text-primary text-decoration-none">{{this.name}}</a>
                                    </td>
                                    <td>
                                        {{#if this.principal}}
                                            <a href="/canteens/principals/{{this.principal.id}}" class="text-primary text-decoration-none">{{this.principal.name}}</a>
                                        {{else}}
                                            <span class="text-muted">-</span>
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{#if this.party}}
                                            <a href="/properties/parties/{{this.party.id}}" class="text-primary text-decoration-none">{{this.party.name}}</a>
                                        {{else}}
                                            <span class="text-muted">-</span>
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{#if this.lease.lease_end}}
                                            {{date this.lease.lease_end}}
                                        {{else}}
                                            <span class="text-muted">-</span>
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{#if this.active}}
                                            <span class="badge bg-success fs-6 status-badge" data-lease-end="{{this.lease.lease_end}}">Ενεργό</span>
                                        {{else}}
                                            <span class="badge bg-secondary fs-6">Ανενεργό</span>
                                        {{/if}}
                                    </td>
                                    <td>
                                        <a href="/canteens/canteens/{{this.id}}" class="btn btn-outline-primary" title="Προβολή/Επεξεργασία">
                                            <i class="ti-eye text-primary" ></i>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //for testing
   /* window.dimtablesOptions = {
        rowsPerPage: 4,
    };*/
</script>

<script type="module">
// Έλεγχος λήξης μισθώσεων κυλικείων
checkLeaseExpiry();
</script>