<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title h3">
                        <i class="ti-agenda me-2"></i>
                        Διευθυντές Σχολείων
                    </h1>
                    <div class="card-actions">
                        {{#if (can 'edit:content')}}
                        <a href="/canteens/principals/new" class="btn btn-primary">
                            <i class="ti-plus me-1"></i>
                            Νέος Διευθυντής
                        </a>
                        {{/if}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="dim-table table table-striped table-hover align-middle">
                            <thead class="table-dark">
                                <tr>
                                    {{!-- <th class="sortable" data-sort-type="number">ID</th> --}}
                                    <th class="sortable wide-cell">Όνομα</th>
                                    <th>Email</th>
                                    <th>Επικοινωνία</th>
                                    <th>Κατάσταση</th>
                                    {{!-- <th>Ημερομηνία Δημιουργίας</th> --}}
                                    <th class="narrow-cell-m">Λεπτομέρειες</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each principals}}
                                <tr >
                                    {{!-- <td>{{this.id}}</td> --}}
                                    <td class="fw-semibold">
                                        <a href="/canteens/principals/{{this.id}}" class="text-primary text-decoration-none">{{this.name}}</a>
                                    </td>
                                    <td>{{this.email}}</td>
                                    <td>{{this.contact}}</td>
                                    <td>
                                        {{#if this.active}}
                                            <span class="badge bg-success fs-6">Ενεργός</span>
                                        {{else}}
                                            <span class="badge bg-secondary fs-6">Ανενεργός</span>
                                        {{/if}}
                                    </td>
                                    {{!-- <td>{{date this.createdAt}}</td> --}}
                                    <td>
                                        <a href="/canteens/principals/{{this.id}}" class="btn btn-outline-primary" title="Προβολή/Επεξεργασία">
                                            <i class="ti-eye text-primary" ></i>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
