<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title h3">
                        <i class="ti-files me-2"></i>
                        <span>Υποβολές Στοιχείων Κυλικείου - Περίοδος {{period.code}}</span>
                        <span data-variable="period-description"></span>
                    </h1>
                    <div class="card-subtitle text-muted mt-2">
                        <i class="ti-calendar me-1"></i>
                        Περίοδος: {{date period.start_date}} - {{date period.end_date}}
                        <span class="mx-2">|</span>
                        <i class="ti-alarm-clock me-1"></i>
                        Προθεσμία: {{date period.submission_deadline}}
                    </div>
                </div>
                <div class="card-body">
                    {{#if canteens}}
                    <div class="row mb-4">
                            <div class="col-12 my-3">
                                <div class="card border-secondary" href="#">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0 d-flex align-items-center gap-3">
                                            <i class="ti-calendar me-2"></i>
                                            <span>Στατιστικά Υποβολών για την περίοδο</span>
                                        </h5>
                                    </div>
                                    <div class="card-body d-flex justify-content-around align-items-center flex-wrap text-center">
                                        <div class="">
                                            <h6 class="text-muted">Συνολικά Κυλικεία</h6>
                                            <div class="text-primary fw-semibold display-6">
                                                {{canteens.length}}
                                            </div>
                                        </div>
                                        <div class="">
                                            <h6 class="text-muted">Υποβλήθηκαν</h6>
                                            <h2 class="text-success display-6 fw-semibold">{{submittedCount}}</h2>
                                        </div>
                                        <div class="">
                                            <h6 class="text-muted">Εκκρεμούν</h6>
                                            <h2 class="text-warning display-6 fw-semibold">{{pendingCount}}</h2>
                                        </div>
                                        <div>
                                            <div class="easy-pie-chart" data-percent="{{submittedPercent}}" data-bar-color="#177b45" data-track-color="Wheat" data-scale-color="false" data-line-width="6" data-size="80" data-animate="1000">
                                                <span class="fw-bold"></span>
                                            </div>
                                        </div>
                                        <div class="">
                                            <button id="exportExcelBtn" class="btn btn-icon my-2" style="background-color: #177b45; color: white;">
                                            <svg height="24px" width="24px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                                viewBox="0 0 26 26" xml:space="preserve">
                                                <g>
                                                    <path style="fill:white;" d="M25.162,3H16v2.984h3.031v2.031H16V10h3v2h-3v2h3v2h-3v2h3v2h-3v3h9.162
                                                        C25.623,23,26,22.609,26,22.13V3.87C26,3.391,25.623,3,25.162,3z M24,20h-4v-2h4V20z M24,16h-4v-2h4V16z M24,12h-4v-2h4V12z M24,8
                                                        h-4V6h4V8z"/>
                                                    <path style="fill:white;" d="M0,2.889v20.223L15,26V0L0,2.889z M9.488,18.08l-1.745-3.299c-0.066-0.123-0.134-0.349-0.205-0.678
                                                        H7.511C7.478,14.258,7.4,14.494,7.277,14.81l-1.751,3.27H2.807l3.228-5.064L3.082,7.951h2.776l1.448,3.037
                                                        c0.113,0.24,0.214,0.525,0.304,0.854h0.028c0.057-0.198,0.163-0.492,0.318-0.883l1.61-3.009h2.542l-3.037,5.022l3.122,5.107
                                                        L9.488,18.08L9.488,18.08z"/>
                                                </g>
                                            </svg>
                                                <span>Εξαγωγή υποβολών σε Excel</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    {{/if}}

                    
                    <div class="table-responsive">
                        <table id="submissions" class="dim-table table table-striped table-hover align-middle">
                            <thead class="table-dark">
                                <tr>
                                    <th class="sortable d-none" data-sort-type="number">ID</th>
                                    <th class="sortable" style="width: 35ch">Όνομα Κυλικείου</th>
                                    <th style="width: 25ch">Διευθυντής</th>
                                    <th class="d-none" >email Διευθυντή</th>
                                    <th style="width: 25ch">Μισθωτής</th>
                                    <th class="d-none">ΑΦΜ Μισθωτή</th>
                                    {{!-- <th>Κατάσταση Κυλικείου</th> --}}
                                    <th class="d-none d-xxl-table-cell">Λήξη <br> Μίσθωσης</th>
                                    <th class="sortable">Υποβολή <br>Στοιχείων</th>
                                    <th class="sortable">Ημερομηνία <br>Υποβολής</th>
                                    <th class="sortable d-none d-xxl-table-cell" data-sort-type="number">Κόστος <br>Ρεύματος</th>
                                    <th class="sortable" data-sort-type="number">Μίσθωμα</th>
                                    <th style="width: 18ch">Ενέργειες</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each canteens}}
                                <tr>
                                    <td class="d-none">{{this.id}}</td>
                                    <td>
                                        <a href="/canteens/canteens/{{this.id}}" class="text-primary text-decoration-none">
                                            <strong>{{this.name}}</strong>
                                        </a>
                                    </td>
                                    <td>
                                        {{#if this.principal}}
                                            <a href="/canteens/principals/{{this.principal.id}}" class="text-primary text-decoration-none">{{this.principal.name}}</a>
                                        {{else}}
                                            <span class="text-muted">-</span>
                                        {{/if}}
                                    </td>
                                    <td class="d-none">
                                        {{this.principal.email}}
                                    </td>
                                    <td>
                                        {{this.party.name}}
                                    </td>
                                    <td class="d-none">
                                        {{this.party.afm}}
                                    </td>
                                    {{!-- <td>
                                        {{#if this.active}}
                                            <span class="badge bg-success fs-6">Ενεργό</span>
                                        {{else}}
                                            <span class="badge bg-secondary fs-6">Ανενεργό</span>
                                        {{/if}}
                                    </td> --}}
                                    <td class="d-none d-xxl-table-cell" data-value="{{this.lease.lease_end}}">
                                        {{#if this.lease.lease_end}}
                                            {{date this.lease.lease_end}}
                                        {{else}}
                                            <span class="text-muted">-</span>
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{#if this.hasSubmission}}
                                            <span class="badge bg-success fs-6">
                                                {{!-- <i class="ti-check me-1"></i> --}}
                                                <span>Υποβλήθηκε</span>
                                            </span>
                                        {{else}}
                                            <span class="badge bg-warning fs-6">
                                                {{!-- <i class="ti-alert me-1"></i> --}}
                                                <span>Εκκρεμεί</span>
                                            </span>
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{#if this.submission.updatedAt}}
                                            {{date this.submission.updatedAt}}
                                        {{else}}
                                            <span class="text-muted">-</span>
                                        {{/if}}
                                    </td>
                                    <td class="d-none d-xxl-table-cell" data-sort-value="{{this.submission.electricity_cost}}" >
                                        {{check this.submission.electricity_cost (euro this.submission.electricity_cost) '-'}}
                                    </td>
                                    <td class="" data-sort-value="{{this.submission.rent}}">
                                        {{check this.submission.rent (euro this.submission.rent) '-'}}
                                    </td>
                                    <td>
                                        {{#if this.hasSubmission}}
                                            <a href="/canteens/periods/{{../period.id}}/submissions/{{this.submission.id}}" class="btn btn-outline-primary btn-sm me-1" title="Προβολή Υποβολής">
                                                <i class="ti-eye" ></i>
                                            </a>
                                        {{else}}
                                            <a href="/canteens/periods/submissions/new?period_id={{../period.id}}&canteen_id={{this.id}}" class="btn btn-primary btn-sm btn-icon {{#unless (can2 'edit:content' ../user)}}d-none{{/unless}}" title="Νέα Υποβολή">
                                                <i class="ti-plus me-1"></i>
                                                <span>Υποβολή</span>
                                            </a>
                                        {{/if}}
                                    </td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="9" class="text-center text-muted py-4">
                                        <i class="ti-files fa-2x mb-2"></i><br>
                                        Δεν βρέθηκαν κυλικεία για αυτήν την περίοδο
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
<script type="module">
    Q('~period-description').set(`(${periodDescription('{{period.start_date}}' , '{{period.end_date}}')})`);

    Q('#exportExcelBtn').on('click', function() {
        downloadTableAsExcel('submissions', 'Υποβολές Στοιχείων Κυλικείων - Περίοδος {{period.code}}.xlsx', '{{period.code}}');
    });
</script>